* {
  background-color: rgb(0, 0, 0); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Toastify__toast {
  background-color: #000000 !important;  
  color: #04ffea !important;            
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #00e6ff !important;
  padding: 12px 20px;
}

.Toastify__toast--success {
  background-color: #000000 !important;
  color: #00ffee !important;
  border-color: #00fff7 !important;
}

.Toastify__toast--error {
  background-color: #000000 !important;
  color: #dc3545 !important;
  border-color: #02f2ff !important;
}

.Toastify__progress-bar,
.Toastify__progress-bar--success,
.Toastify__progress-bar--error {
  background-color: #000000 !important;  
}

.Toastify__toast-icon {
  background-color: transparent !important;
  color: inherit !important;
}

.Toastify__close-button {
  color: #00ffee !important;
}
